<!DOCTYPE html>
<html>
<head>
	<title>Dojo guestbook</title>
	<link rel="stylesheet"
		  href="http://ajax.googleapis.com/ajax/libs/dojo/1.10.4/dijit/themes/claro/claro.css"/>
    <link rel="stylesheet"
		  href="/static/stylesheets/main.css"/>
</head>
<body>
<div  style="width: 900px;margin: 0 auto">
        <h1 style="text-align: center">Namvv Dojo Demo</h1>
        <br>
        <p style="text-align: center"><a href="{{ url }}">{{ url_linktext }}</a></p>
        <input type="hidden" id="isUseLogin" value="{{ user_login }}"/>
        <input type="hidden" id="isUserAdmin" value="{{ is_user_admin }}"/>
        <script>
            var dojoConfig = {
                async: true,
                isDebug: true,
                parseOnLoad: true,
                packages: [{
                    name: 'greeting',
                    location: '/static/js'
                }]
            }
        </script>

        <!-- load dojo -->
        <script src="//ajax.googleapis.com/ajax/libs/dojo/1.10.4/dojo/dojo.js"  ></script>
        <script>
            require([
                "dojo/parser",
                "greeting/GuestBookView"
            ], function (parser) {
                parser.parse();
            });
        </script>
        <input id="csrf" value="{{ csrf_token }}" type="hidden">
        <div data-dojo-type="greeting/GuestBookView"></div>
    </div>
</body>
</html>